<!DOCTYPE html>
<html>
  <head>
    <title>Cepas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_session_path(:user), :method => :delete %>
        <% if current_user.admin == true %>
      <%= link_to  "Wines", wines_path %>
      <%= link_to  "Strains", strains_path %>
      <%= link_to  "Blends", blends_path %>
      <%= link_to  "Reviews", reviews_path %>
      <%= link_to  "Oenologist", oenologists_path %>
      

      
    <% end %>
    <% else %>
      <%= link_to  "Inicar",  new_user_session_path  %>
    <% end %>
    <%= yield %>
  </body>
</html>
